@{
    ViewData["Title"] = "5 Oldest Customers";
}

<h2>5 Oldest Customers</h2>
@await Html.PartialAsync("~/Views/Shared/CustomerListView.cshtml")
<div>
    <a asp-action="Index">Back to List</a>
</div>

